<div class="container"><h1>Testando o negócio</h1>
<a class="btn btn-floating pulse"><i class="material-icons">menu</i></a>
<a class="btn btn-floating btn-large pulse"><i class="material-icons">cloud</i></a>
<a class="btn btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a>
</div>